.numbers {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(252, 138, 96);
  padding: 75px 90px 0px 90px;
  border-radius: 12px;
}

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("bg.jpg"); /* The image used */
  background-color: #cccccc;
  height: 500px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#result {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
