input {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input:focus {
    border: 2px solid #555;
  }
  
  .input {
    display: flex;
    justify-content: space-around;
  }